---
layout: base
class: home
---
<section class="single-post intro" style="grid-column: 2/12;margin: 15vh 0 15vh 0;">
<h2>May 12th, 2021</h2>
<br>
<br>
<p>
Building and adding content constantly that is the way.  <a href="jeannieortiz.com">Jeannie</a> and I are creating a new art project together entitled <a href="https://intentionallyconfusing.com">Intentionally Confusing</a> and if you would like a more detailed look at our art practices on a daily level I would encourage you to go there.  Think about that site as our long term answer to how do we get off of social media.  I hope you like it.
</p>
<br>
<p>
This site is my archive of work.  It'll take some time to be fully flushed out as I have much old material to fully document and share in this space.  Luckily there is plenty of interesting material already here on this site to keep on entertained for hours.  Good luck getting lost in these pages. 
</p>
<br>
<p>Kyle</p>
</section>


<section class='home-about home-section'>
    <h2 style="--rows: {{collections.aboutByYear | size}}">
        <span>
            About 
        </span>
    </h2>
    <ul class='project-list'>
        {% for year in collections.aboutByYear %}
        <span class="project-date" style="grid-row: span {{year.posts | size}}">
            <span>
                {{year.shortYear}}
            </span>
        </span>
        {% assign posts = year.posts | reverse%}
        {% for p in posts%}
        <li class='project-list-item'>
            <h3 class="project-title">
                <a href='{{ p.url }}'>
                    {{p.data.title}}
                </a>
            </h3>
            <span class="project-category">{{p.data.category}}</span>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
</section>
<div class="spacer"></div>

<section class='home-projects home-section'>
    <h2 style="--rows: {{collections.projectsByYear | size}}">
        <span>
            Projects 
        </span>
    </h2>
    <ul class='project-list'>
        {% for year in collections.projectsByYear %}
        <span class="project-date" style="grid-row: span {{year.posts | size}}">
            <span>
                {{year.shortYear}}
            </span>
        </span>
        {% assign posts = year.posts | reverse%}
        {% for p in posts%}
        <li class='project-list-item'>
            <h3 class="project-title">
                <a href='{{ p.url }}'>
                    {{p.data.title}}
                </a>
            </h3>
            <span class="project-category">{{p.data.category}}</span>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
</section>
<div class="spacer"></div>




<section class='home-work home-section'>
    <h2 style="--rows: {{collections.oeuvreByYear | size}}">
        <span>
            Oeuvre. 
        </span>
    </h2>
    <ul class='project-list'>
        {% for year in collections.oeuvreByYear %}
        <span class="project-date" style="grid-row: span {{year.posts | size}}">
            <span>
                {{year.shortYear}}
            </span>
        </span>
        {% assign posts = year.posts | reverse%}
        {% for p in posts%}
        <li class='project-list-item'>
            <h3 class="project-title">
                <a href='{{ p.url }}'>
                    {{p.data.title}}
                </a>
            </h3>
            <span class="project-category">{{p.data.category}}</span>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
</section>
<div class="spacer"></div>


<section class='home-work home-section'>
    <h2 style="--rows: {{collections.post | size}}">
        <span>writing</span>
    </h2>
    <nav class='project-list'>
        {% for year in collections.postsByYear %}
        <span class="project-date" style="grid-row: span {{year.posts | size}}">
            <span>
                {{year.shortYear}}
            </span>
        </span>
        {% assign posts = year.posts | reverse %}
        {% for post in posts %}
        <li class='project-list-item'>
            <h3 class="project-title">
                <a href="{{ post.url }}">
                    {% if post.data.shortTitle %}
                    {{ post.data.shortTitle }}
                    {% else %}
                    {{ post.data.title }}
                    {% endif %}
                </a>
            </h3>
            <span class="project-category">{{post.data.publication}}</span>
        </li>
        {% endfor %}
        {% endfor %}
    </nav>
</section>
